.resetPassContainer {
    margin-top: 50%;
}

.rulesTextStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4F4F4F;
}

.confirmPassDiaContainer{
    width:28%
}